{% extends 'layout.html' %}

{% block content %}
<h2>Add a New Module</h2>
<form action="/add" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" required></textarea><br><br>
    <label for="required_modules">Required Modules:</label><br>
    {% for module in modules %}
        <input type="checkbox" id="module_{{ module[0] }}" name="required_modules" value="{{ module[0] }}">
        <label for="module_{{ module[0] }}">{{ module[1] }}</label><br>
    {% endfor %}
    <br>
    <button type="submit">Add Module</button>
</form>
<a href="/">Back to Modules</a>
{% endblock %}