<!DOCTYPE html>
<html>

<head>
    <title>KubenLMS</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <header>
        <ul id="header-links">
            <li><a href="/">Moduler</a></li>
            <li><a href="/admin">Godkjenningskø</a></li>
            <li><a href="/add">Ny modul</a></li>
            <li><form action="/reset_db" method="post" style="display: inline;">
                <button type="submit">DEBUG: reset db</button>
            </li>
            </form>
        </ul>
        <h1>KubenLMS</h1>
        <div></div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>KubenLMS - Modulbasert læringsplatform</p>
    </footer>
</body>

</html>